/* 전역 스타일 설정 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* 헤더 스타일 설정 */
header {
    background-color: #ce1c6a;
    color: white;
    padding: 15px 0;
    text-align: center;
}

/* 내비게이션 스타일 설정 */
.container-fluid {
    background: linear-gradient(70deg, #ce1c6a, rgb(206, 28, 106), #ff6ca9, #ff6ca9);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.navbar-brand, .nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 30px;
}

.navbar-brand {
    padding-left: 20px;
}

.nav-link:hover {
    text-decoration: underline;
}

/* 드롭다운 메뉴 스타일 */
.dropdown-menu {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown-menu a {
    color: #212529;
    padding: 0.5rem 1rem;
}

.dropdown-menu a:hover {
    background-color: #e9ecef;
}

/* 배너 스타일 설정 */
#mainBanner, .carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-caption {
    text-align: left;
}

.carousel-caption .btn {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 1rem;
    text-align: left;
}

.carousel-caption .btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.9);
}

.carousel-caption h1, .carousel-caption h5 {
    font-weight: 900;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* 배너 텍스트 */
.banner {
    position: relative;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.banner-text h2 {
    font-size: 2.5rem;
}

/* 무비 차트 스타일 설정 */
.movie-chart {
    padding: 80px 0;
    background-color: #f8f9fa;
    position: relative;
}

.movie-chart h2 {
    text-align: center;
    margin-bottom: 30px;
}

.movie-chart-wrapper {
    overflow: hidden;
    position: relative;
}

.movie-chart-content {
    display: flex;
    transition: transform 0.5s ease;
}

.grid.movie-chart-content .movie-item {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 20px;
}


/* 무비 차트 컨트롤 스타일 설정 */
.movie-chart-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    width: 5%;
    height: 100%;
}

.movie-chart-control.movie-chart-control-prev {
    left: 0;
}

.movie-chart-control.movie-chart-control-next {
    right: 0;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}


.movie-item {
    position: relative;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    height: 340px; /* 전체 높이 조정 */
    gap: 10px; /* 요소들 간의 거리 조절 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-item img {
    width: 100%;
    height: 250px; /* 이미지 높이 고정 */
    object-fit: cover;
    border-radius: 8px;
    transition: opacity 0.3s ease;
}
.movie-item:hover {
    transform: scale(1.05);
}

.movie-item h3 {
    font-size: 1.2rem;
    margin: 10px 0 5px;
}

.movie-item p {
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.movie-item .movie-rank, .movie-item .movie-age-badge {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    font-weight: bold;
}

.movie-item .movie-rank {
    border-radius: 50%;
    top: 10px;
    left: 10px;
}

.movie-item .movie-age-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}

.movie-item:hover img {
    opacity: 0.7;
}

.movie-item .movie-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    gap: 5px;
}

.movie-item:hover .movie-buttons {
    display: flex;
}
.movie-info1 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.movie-info1 h3 {
    font-size: 1rem; /* 제목 크기 조정 */
    margin: 0;
    white-space: nowrap; /* 텍스트가 길면 줄바꿈 없이 생략 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-info1 p {
    font-size: 0.85rem; /* 예매율 크기 조정 */
    color: #777;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 캐러셀 컨트롤 스타일 설정 */
.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}


/* 영화 상세 정보 스타일 */
.movie-info {
    display: flex;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    justify-content: space-between;
}

.poster-section img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.details-section {
    flex: 1;
    text-align: center;
}

.rating-section {
    text-align: center;
    color: #f39c12;
    font-size: 24px;
}

.star-rating i {
    margin-right: 5px;
}

.rating, .reservation-rate, .audience-rating {
    margin-right: 10px;
    font-weight: bold;
}

.movie-details {
    line-height: 1.6;
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
}

.buttons-section {
    margin-top: 20px;
}

.ticket-button, .like-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.ticket-button {
    background-color: #ce1c6a;
    color: white;
    margin-right: 10px;
}

.like-button {
    background-color: #efbddf;
    color: white;
}

/* 탭 스타일 설정 */

.tab-title {
    cursor: pointer;
    margin: 0 10px;
    font-weight: bold;
}

.tab-title.active {
    color: #ce1c6a;
}

.tabs-section {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    color: #666;
    border-bottom: 3px solid transparent;
}

.tab:hover {
    color: #333;
    border-bottom: 3px solid #ff5a5f;
}

/* 시놉시스 스타일 */
.synopsis-section {
    padding: 20px;
    line-height: 1.8;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
}

/* Still Cut Section */
.still-cut-section {
    padding: 20px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

.still-cut-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.add-button {
    background-color: #ff5a5f;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 18px;
    cursor: pointer;
}

.still-cut-gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.still-cut-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.gallery-nav {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* 리뷰 섹션 스타일 */
.review-section {
    padding: 20px;
    border-top: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.review-header h3 {
    margin: 0;
    font-size: 20px;
}

.review-input h4 {
    margin-bottom: 10px;
}

.review-input textarea {
    background-color: #d2a6b5;
    color: white;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 15px;
    resize: none;
}

.review-input textarea::placeholder {
    color: #bbb;
}

.review-input button {
    background-color: #ce1c6a;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.review-input button:hover {
    background-color: #b43d66;
}

.review-filter {
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    color: #555;
    margin: 0 10px;
}

.review-filter.active {
    color: #ce1c6a;
}

.divider {
    color: #bbb;
}

.review-filter i {
    font-size: 12px;
    margin-left: 3px;
}

.reviews {
    margin-top: 10px;
    border-radius: 10px;
}

.review {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 16px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-weight: bold;
    color: #464646;
}

.text-muted {
    color: #bbbbbb;
}

/* 푸터 스타일 설정 */
footer {
    background-color: #ce1c6a;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* 상단 배너 스타일 설정 */
.top-banner {
    background-size: cover;
    height: 80px;
    margin: 0;
}

/* 고객센터 및 공지사항 섹션 스타일 */
.customer-service-section {
    padding: 100px 0;
    margin-top: 40px;
}

.notice-board h5,
.customer-service h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

.notice-board p,
.customer-service p {
    margin: 0 0 10px 0;
}

.notice-board .btn {
    float: right;
}

.customer-service .btn {
    flex-grow: 1;
    margin-right: 5px;
}

.customer-service .btn:last-child {
    margin-right: 0;
}

.customer-service {
    text-align: left;
}

.notice-board a {
    color: #000;
    text-decoration: none;
}

.notice-board a:hover {
    text-decoration: underline;
}

/* 오른쪽 이미지 스타일 */
.right-image-container {
    position: relative;
    display: flex;
    right: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-image {
    top: 0;
    width: auto;
    max-height: 70vh;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

/* 고정된 예매 버튼 */
.fixed-booking-button {
    position: fixed;
    bottom: 80px;
    right: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1000;
}

.booking-button {
    background: linear-gradient(70deg, #ce1c6a, rgb(206, 28, 106), #ff6ca9, #e0a3cc);
    border: none;
    color: white;
    padding: 12px 25px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease;
}

/* 스크롤 업 버튼 */
.scroll-up {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #575757;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scroll-up i {
    color: #575757;
    font-size: 18px;
}

.scroll-up:hover i {
    color: #232323;
}


/* 이벤트 섹션 스타일 */
.event-section {
    padding: 80px 0; /* 무비 차트와 이벤트 사이 거리 추가 */
    background-color: #fff;
}

.event-section .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 250px;
}

.event-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* 이벤트 아이템 스타일 */
.event-item {
    position: relative;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.event-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.event-item h3 {
    font-size: 1.2rem;
    margin: 10px 0 5px;
}

.event-item p {
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 0;
}


/* 투표 스타일 */
.votes {
    color: #bbb;
    font-size: 16px;
    margin-top: 5px;
}
/* 목록 페이지 */
.movie-item3 {
    position: relative;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.movie-item3 img {
    width: 100%;
    height: 250px; /* 이미지 높이 고정 */
    object-fit: cover;
    border-radius: 8px;
}

.movie-rank3 {
    position: absolute;
    top: 10px;
    left: 10px;
    background: linear-gradient(70deg, #ce1c6a, rgb(206, 28, 106), #ff6ca9, #e0a3cc);
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 3px;
}

.movie-details3 {
    text-align: center;
    margin-top: 10px;
}

.movie-title3 {
    font-size: 1.1rem;
    font-weight: bold;
}

.movie-info3 {
    font-size: 0.9rem;
    color: #777;
    margin-top: 5px;
}

.movie-buttons3 {
    margin-top: 10px;
}
.btn-booking3 {
    background-image: linear-gradient(70deg, #ce1c6a, #ff6ca9);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 14px;
    font-size: 0.9rem;
}

.btn-booking3:hover {
    background-color: #ff6c9f;
}

.right-sidebar-ad3 {
    position: sticky;
    top: 80px;
    padding: 10px;
    text-align: center;
}


.image-container {
    position: relative;
    display: inline-block;
}

.movie-poster2 {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px; /* 이미지의 모서리를 둥글게 하기 위해 추가 */
}

.number-overlay {
    position: absolute;
    bottom:  -38px; /* 이미지의 하단에서 10px 위로 */
    color: white; /* 글자색을 흰색으로 설정 */
    font-size: 80px; /* 숫자 크기를 더 크게 설정 */
    /*font-weight: bold; !* 숫자를 굵게 설정 *!*/
    font-style: italic; /* 글자를 기울임 */
}
