<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watching</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/elegant-icons.css" rel="stylesheet" type="text/css">
    <link href="/css/plyr.css" rel="stylesheet" type="text/css">
    <link href="/css/nice-select.css" rel="stylesheet" type="text/css">
    <link href="/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="/css/slicknav.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<!--헤더 상단바-->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/메인화면.html">
                        <p>메인 로고위치</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="./categories.html">영화<span class="arrow_carrot-down"></span></a>
                                <ul class="dropdown">
                                    <li><a href="./categories.html">상영중인영화</a></li>
                                    <li><a href="./anime-details.html">개봉 예정</a></li>
                                    <li><a href="./anime-watching.html">영화 차트</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">극장</a>
                                <ul class="dropdown">
                                    <li><a href="./categories.html">극장정보</a></li>
                                    <li><a href="./anime-details.html">특별관</a></li>
                                </ul>
                            </li>
                            <li><a href="#">이벤트</a>
                                <ul class="dropdown">
                                    <li><a href="./categories.html">스페셜</a></li>
                                    <li><a href="./categories.html">영화/예매</a></li>
                                    <li><a href="./anime-details.html">당첨자발표</a></li>
                                    <li><a href="./anime-details.html">종료된 이벤트</a></li>
                                </ul>
                            </li>
                            <li class="active"><a href="./index.html">예매</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                    <a class="search-switch" href="#"><span class="icon_search"></span></a>
                    <a href="./login.html"><span class="icon_profile"></span></a>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!--헤더 끝 -->

<!-- 메인 영화 정보 배지 -->
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="img/movie/실바니안1.png">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">개봉예정</div>
                            <h2>가짜 실바니안 사건 / hey ~~ </h2>
                            <p>더이상 우리가 알던 실바니안은 없다.. 그들의 정체는 ? </p>
                            <p>2024년 10월 대개봉</p>
                            <a href="#"><span>상세 보기</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="img/movie/이지영2.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">상영중</div>
                            <h2>이지영 연대기 / Lee Story</h2>
                            <p>두 얼굴의 사나이. 그 일대기를 향해...</p>
                            <p>극장 개봉중</p>
                            <a href="#"><span>상세 보기</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">이벤트</div>
                            <h2>영화이름 / 부제</h2>
                            <p>간단 설명</p>
                            <p>상영 기간 or 개봉일 날짜</p>
                            <a href="#"><span>상세 보기</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 메인 영화 정보 배지 끝  -->





<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/player.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
